# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# Others
*.log
*.cache
*.tmp
*.bak

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
appsettings.json
CryptoProject_P34/CryptoProj.API/appsettings.json
